@font-face {
  font-family: 'AvantGarde-Medium';
  src: url('../fonts/AvantGarde-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvantGarde-Medium.otf')  format('opentype'),
	     url('../fonts/AvantGarde-Medium.woff') format('woff'), url('../fonts/AvantGarde-Medium.ttf')  format('truetype'), url('../fonts/AvantGarde-Medium.svg#AvantGarde-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGarde-Bold';
  src: url('../fonts/AvantGarde-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvantGarde-Bold.otf')  format('opentype'),
	     url('../fonts/AvantGarde-Bold.woff') format('woff'), url('../fonts/AvantGarde-Bold.ttf')  format('truetype'), url('../fonts/AvantGarde-Bold.svg#AvantGarde-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGarde-ExtraLight';
  src: url('../fonts/AvantGarde-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvantGarde-ExtraLight.otf')  format('opentype'),
	     url('../fonts/AvantGarde-ExtraLight.woff') format('woff'), url('../fonts/AvantGarde-ExtraLight.ttf')  format('truetype'), url('../fonts/AvantGarde-ExtraLight.svg#AvantGarde-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGardeLT-Book';
  src: url('../fonts/AvantGardeLT-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvantGardeLT-Book.woff') format('woff'), url('../fonts/AvantGardeLT-Book.ttf')  format('truetype'), url('../fonts/AvantGardeLT-Book.svg#AvantGardeLT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  color:#130c0d;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  max-width: 960px;
  padding:0;
  margin:0 auto;
}

#header {
  background-color:#d90064;
}

#header .col-md-12 {
  padding-right:0;
}

#header #punchline {
  position:absolute;
  top:15px;
  right:15px;
  z-index: 100;
}

#header #btn-decouvrir {
  position:absolute;
  top:465px;
  left:50%;
  margin-left:-200px;
  width:400px;
  z-index: 100;
  font-family: 'AvantGarde-Bold', Helvetica,Arial;
  color: #FFFFFF;
  font-size:20px;
  padding: 10px 30px;
  background:#C80069;
  border: 8px solid #FFFFFF;
  text-align:center;
  text-transform:uppercase;
}

#header #punchline h1 {
  background-color:#fff;
  font-size:28px;
  font-family: 'AvantGarde-Bold', Helvetica,Arial;  
  text-transform:uppercase;
  line-height:30px;
  display: inline-block;
  color:#d90064;
  padding:15px;
  margin:0;
  float:right;
}

#header #punchline h1 span {
  color:#130c0d;
}

#header #punchline h2 {
  background: url(../images/cartidge.png) no-repeat;
  float: right;
  margin: 0;
  font-size: 22px;
  font-family: 'AvantGarde-Bold', Helvetica,Arial;  
  text-transform: uppercase;
  color: #fff;
  background-size: 391px 46px;
  width: 541px;
  height: 46px;
  text-align: right;
  line-height: 46px;
  padding: 0 15px;
  background-position: right center;
}

.bxslider{
  list-style:none;
  overflow:hidden;
}

.bxslider img {
  float:right;
}
.bx-wrapper{
  border:none;
  margin-bottom:0;
  box-shadow: none;
  background:transparent!important;
  max-height:500px;
  overflow:hidden;
}

.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
  background: url('../images/controls.png') no-repeat top left;
  width: 50px!important; 
  height: 100px!important;
  margin-top: -50px!important;
}

.bx-wrapper .bx-prev { 
  display:none!important;
} 

.bx-wrapper .bx-next,
.bx-wrapper .bx-next:hover, 
.bx-wrapper .bx-next:focus{ 
  background-position: -60px 0;
  right:0!important;
} 

.bx-wrapper .bx-loading {
  background: url('../images/bx_loader.gif') center center no-repeat;
}

#header #logo {
  position: absolute;
  z-index:100;
  top: 50%;
  margin-top: -66.5px;
  left:47px;
}

#content {
  margin:0 auto!important;
  padding:0!important;
}

#content .well {
  background-color:#d1d1d1;
  border:none;
  box-shadow:none;
  border-radius:0;
  padding:30px 0;
  margin:0 auto;
  text-align: center;
  width:100%;
}

#content .map {
  background-color:#c80069;
  padding:15px 0 30px;
  margin:0;
  text-align:center;
  color:#FFFFFF;
  font-family: 'AvantGardeLT-Book', Helvetica,Arial;
  font-size:14px;
  width:100%;
}

#content .title-map {
  font-family: 'AvantGarde-Bold', Helvetica,Arial;
  font-size:32px;
  text-transform:uppercase;
}

#content h2{
  margin:15px 0 0;
  font-family: 'AvantGarde-Bold', Helvetica,Arial;
  color:#000000;
  font-size:28px;
  text-transform:uppercase;
  text-align:center;
}

#content h3{
  margin:15px 0 0;
  font-family: 'AvantGarde-ExtraLight', Helvetica,Arial;
  color:#130c0d;
  font-size:18px;
  text-transform:uppercase;
  text-align:center;
}

#content .checkbox-inline:first-child, #content .checkbox-inline {
  padding-left:0;  
}


#content .radio-inline:first-child, #content .radio-inline {
  padding-left:0;  
}

#content .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 0!important;
    margin-right:10px!important;
}

#content h3 span {
  color:#d90064;
  font-family: 'AvantGarde-Bold', Helvetica,Arial;
  font-size:32px;
}

#content form input[type=text]{
  border-radius:0;
  height:40px;
  box-shadow:none;
}

#content form .form-group {
  margin-bottom: 3px;
}

#content form .form-control:focus {
  border-color: #d90064;
}

#content form button {
  border-radius:0;
  background-color:#d90064;
  border:none;
  font-size:24px;
  font-family: 'AvantGarde-Bold', Helvetica,Arial;
  text-transform:uppercase;
  width: 185px;
  margin: 20px auto 0;
}

#content form .weight {
  display:block;
  text-align:left;
  text-transform:uppercase;
  font-family: 'AvantGarde-Bold', Helvetica,Arial;
  font-size:14px;
}

#content form .formSeparator {
  margin:30px 20px;
  height:1px;
  background:#FFFFFF;
}

#content form p {
  font-family: 'Open Sans', sans-serif;
  font-size:11px;
  text-align:center;
  margin:10px 0;
}

#content form .fa-times{
  display:none;
  color: #A94446;
  position: relative;
  top: 2px;
  left: -5px;
}

#content .description {
  font-family: 'AvantGardeLT-Book', Helvetica,Arial;
  font-size:15px;
  margin: 0 0 30px;
}

#content .pers {
  font-family: 'AvantGardeLT-Book', Helvetica,Arial;
  font-size:14px;
  margin: 10px 0 30px;
}

#content .infos {
  font-size:46px;
  text-transform:uppercase;
  font-family: 'AvantGarde-ExtraLight', Helvetica,Arial;
  line-height: 46px;
  margin: 77px 0 30px;
}

#content .city {
  font-family: 'AvantGarde-Bold', Helvetica,Arial;
}

#content .city span {
  color:#d90064;
}

#content .logos {
  position:absolute;
  top:-200px;
  right:20px;
  margin: 20px 20px 20px 0;
}
#content .zoom {
  background:url(../images/zoom.png) bottom right no-repeat;
  width:270px;
  height:136px;
  position:absolute;
  z-index:10;
  top:26px;
  right:50px;
}

#content ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 50px;
}

#content li {
  font-family: 'AvantGardeLT-Book', Helvetica,Arial;
  font-size:15px;
  padding: 3px 0px 3px 10px;
  list-style:none;
}

#content li:before {
    content: "■ ";
    color: #C80069; /* or whatever color you prefer */
}

#content li:last-child {
  margin-bottom:0;
}

#content .title {
  font-family: 'AvantGardeLT-Book', Helvetica,Arial;
  font-size:20px;
  font-weight:bold;
}

#content .separateur {
  height:4px;
  background:#c80069;
  margin:10px 0 30px;
}

#content .prices {
  background-color:#FFFFFF;
  padding:15px 0 30px;
  margin:20px 0;
  text-align:center;
}

#content .title-tab {
  font-size:18px;
  text-transform:uppercase;
  font-family: 'AvantGardeLT-Book', Helvetica,Arial;
  line-height: 50px;
}

#content .title-tab-end {
  font-size:18px;
  text-transform:uppercase;
  font-family: 'AvantGardeLT-Book', Helvetica,Arial;
  line-height: 50px;
  padding:0!important;
}

#content .text-tab {
  font-size:14px;
  font-family: 'AvantGardeLT-Book', Helvetica,Arial;
}

#content .line-tab {
  margin-top:16px;
}

#content .line-tab-prix {
  margin-top:9px;
}

#content .prix-tab {
  font-size:18px;
  line-height:36px;
  text-transform:uppercase;
  font-family: 'AvantGardeLT-Book', Helvetica,Arial;
}

#content .prix-tab-pink {
  font-size:18px;
  color:#FFFFFF;
  font-family: 'AvantGardeLT-Book', Helvetica,Arial;
  line-height: 50px;
  background:#c80069;
}

#content .pink {
  color:#c80069;
}

#content .sep-tab {
  background:#000000;
  height:1px;
  margin:0;
}

#content .mention-tab {
  font-size:12px;
  font-family: 'AvantGardeLT-Book', Helvetica,Arial;
  line-height: 30px;
  margin-bottom:30px;
}

#content #btn-contact {
  font-family: 'AvantGarde-Bold', Helvetica,Arial;
  color: #FFFFFF;
  font-size:20px;
  padding: 20px 30px;
  background:#C80069;
  border: 8px solid #FFFFFF;
  text-align:center;
  text-transform:uppercase;
  width:300px;
  margin:0 auto;
}

.bx-wrapper .bx-controls-direction a {
  z-index:200!important;
}

.row {
  padding:0;
  margin:0 auto;
}

#footer {
  background-color:#eaeaea;
  padding:0;
  margin:0 auto;
}

#footer p {
  font-size:9px;
  color:#888888;
  padding-left: 25px;
  margin:25px 0;
  text-align: justify;
}

#footer #contact {
  margin:25px 0;
}

#footer .brand-link {
  font-family: 'AvantGarde-ExtraLight', Helvetica,Arial;
  color:#d90064;
  font-size:18px;
  text-transform:uppercase;
  float: right;
}

#footer .tel {
  float: right;
  margin: 10px 0;
}

.error{font-size: 12px; color: #a94442; font-style: italic;display: none;width:100%;text-align: left; }

.modal-content {
  border-radius: 0;
}

.modal-title {
  color:#d90064;
}

.modal-footer button,
.modal-footer button:hover,
.modal-footer button:active,
.modal-footer button:focus,
.modal-footer button:active:focus{
  background-color:#d90064;
  font-family: 'AvantGarde-Bold', Helvetica,Arial;
  text-transform:uppercase;
  border-radius:0;
  border:none;
  outline:none;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #header #slider {
    float:none;
  }
  #content {
    padding-left:15px;
  }
  #content #formWrapper {
    padding-left:0;
    padding-right:0;
  }
  #content .infos {
    margin:20px 0;
  }
  #content .description {
    margin: 15px 0 30px 0;
  }
  #content .logos {
    margin: 0 0px 20px;
  }
  #content .logos img{
    margin: 0!important;
  }
  #content ul {
    margin-bottom:20px;
  }
  #content .well {
    margin-top:0;
    margin-bottom:0;
  }
  #footer p {
    padding-left:0;
  }
  #footer #contact {
    margin:0;
  }
  #footer .brand-link {
    float: left;
    margin: 15px 0 0 -15px;
  }
  #footer .tel {
    margin: 0 -15px 15px 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #header .col-md-12 {
    padding-left:0;
  }
  #header #logo {
    position:inherit;
    top:0;
    left:0;
    margin:auto;
  }
  #header #logo a {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    text-align: center;
  }
  #header #logo img {
    width: 80px;
    height: 80px;
  }
  #header #punchline {
    position:inherit;
    top:0;
    right:0;
  }
  #header #punchline h1 {
    float:none;
    width: 100%;
    text-align:center;
  }
  #header #punchline h2 {
    float:none;
    background:#262023;
    width: 100%;
    text-align:center;
  }
  #footer .tel,
  #footer .brand-link {
    float:none;
  }
  #footer #contact > div {
    text-align:center;
  }
  #footer .tel {
    margin: 0 auto 15px;
  }
  
  #content .zoom {
    right:270px;
  }
  
  #content .infos {
    margin:70px 0 30px!important;
  }
  
  #header #btn-decouvrir {
    top:550px!important;
  }
  
  #content .logos {
    top:-180px!important;
  }
}

@media only screen and (max-width : 520px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 400px) {
  #header #punchline h1 {
    font-size: 20px;
  }
  #header #btn-decouvrir {
    top:365px!important;
    left:50%;
    margin-left:-120px;
    width:240px;
    font-size:16px;
    padding: 10px;
  }
  
  #content .infos {
    font-size:46px;
    text-transform:uppercase;
    font-family: 'AvantGarde-ExtraLight', Helvetica,Arial;
    line-height: 46px;
    margin: 150px 0 30px!important;
  }
  
  #header #punchline h2 {
    margin: 0;
    font-size: 18px;
    width: 100%;
    height: 46px;
    text-align: center;
    line-height: 46px;
    padding: 0 15px;
    background:#000000;
  }
  
  #content .logos {
    position:absolute;
    top:-350px!important;
    right:20px;
    margin: 20px 20px 20px 0;
  }
  
  #content .title-map {
    font-size:24px;
  }
  
  #content .well {
    padding-left:10px;
    padding-right:10px;
    margin:0 auto;
  }
  
  #content #btn-contact {
    width:240px;
    font-size:16px;
  }
  
  .container {
    margin:0 auto;
    padding:0;
  }
  
  .bx-wrapper {
    width:320px;
  }
  
  #content .zoom {
    right:50px;
  }
  
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  #header #punchline h1 {
    font-size: 20px;
  }
  #header #btn-decouvrir {
    top:365px!important;
    left:50%;
    margin-left:-120px;
    width:240px;
    font-size:16px;
    padding: 10px;
  }
  
  #content .infos {
    font-size:46px;
    text-transform:uppercase;
    font-family: 'AvantGarde-ExtraLight', Helvetica,Arial;
    line-height: 46px;
    margin: 150px 0 30px!important;
  }
  
  #header #punchline h2 {
    margin: 0;
    font-size: 18px;
    width: 100%;
    height: 46px;
    text-align: center;
    line-height: 46px;
    padding: 0 15px;
    background:#000000;
  }
  
  #content .logos {
    position:absolute;
    top:-350px!important;
    right:20px;
    margin: 20px 20px 20px 0;
  }
  
  #content .title-map {
    font-size:24px;
  }
  
  #content .well {
    padding-left:10px;
    padding-right:10px;
    margin:0 auto;
  }
  
  #content #btn-contact {
    width:240px;
    font-size:16px;
  }
  
  .container {
    margin:0 auto;
    padding:0;
  }
  
  .bx-wrapper {
    width:320px;
  }
  
  #content .zoom {
    right:50px;
  }
}